
body {
    min-height: 270vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    }



.Service {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #2E2F33;
}

.Pepe {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #808080;
    line-height: 1.6;

}

.BREND {

   
    display: flex;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(auto-fill,minmax(20%, 4fr));
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 9%;

}

.UN {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content:space-around;
  }
    
    

.ROND {
    display: flex;
    justify-content:flex-end;
    fill: white;
    inline-size: 40px;
    background-color: rgb(56, 210, 217);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 22px;
}

.branding {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    color: #2e2f33;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-top: 30px;
}

.lore {
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
    color: #808080;
    display: flex;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
}



.BUTTON {
   color:#2e2f33 ;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   font-size: 0.875rem;
   line-height: 1.4;
   text-transform: uppercase;
   font-weight: 600;
   border: solid 1px rgb(56, 210, 217);
   padding: 10px 25px ;
}

.LEARN {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.PARTIE {
    
    margin-top: 5%;
}

.DEUXPARTIES {
    
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    }
 
.PARTIEGA {
    
    display: flex;
    flex-direction:column;
    flex: 1 1 350px;
    justify-content: start;
    margin-left: 6%;
    margin-block-end: 5%;
    margin-right: 4%;
    margin-block-start: 5%;
    background-color: #F2F2F2;
}

.PARTIEDR {
    
    flex: 1 1 450px;
    display:flex;
    block-size: auto;
    background-image: url(./41683.jpg);
    background-repeat:no-repeat;
    
    background-size:cover;
    

    
    
    
}

.PHOTO {
    display: flex;
    flex: 1 1 450px;
    inline-size: 700px;
    height: 600px;
    overflow: hidden;
}

.BUTTONde {
    display: flex;
    justify-content: center;
    color: white ;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial","sans-serif";
    letter-spacing: 1px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #38D2D9;
    margin-top: 5%;
    padding: 3% ;
    inline-size: 150px;
    
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.WE {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    color :#2e2f33;
}

.enim {
display: flex;
font-family:'Open Sans', sans-serif;
line-height: 1.6;
font-size: 1rem;
font-weight: bold;
color: #2e2f33;
}

.duis {
    display: flex;
    font-family: 'Open Sans',sans-serif;
    color: #2e2f33;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    
}

.banniere {
    
    display:flex;
    justify-content: baseline;
    background-color: #38D2D9;
    height: 200px;

}

.Getto {
    
    
    display:flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-left:  10rem;
    justify-content: center;
    
   

}

.BUTROIS {
    
    display: flex;
    
    align-items:center;
}

.Know {
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
    color: white;
}

.Sample {
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color:white;
    margin-bottom: 30px;
}

.BUTTONTroi {
    font-family: 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
   
    color: #38D2D9; ;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }

.marketing {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #2e2f33;
}

.ullam {
    font-family: 'Open Sans',sans-serif;
    color: #2e2f33;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.VIEW {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 80px;

}

.Viewb {
    
    color: #ffffff ;
    background-color: #000000 ;
    letter-spacing: 2px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    font-family: 'Open Sans',sans-serif;
}

footer {
    display:flex;
    justify-content:center;
    
    background-color: #000000 ;
    height: 150px;
}

.footext {
    display:flex;
    justify-content: center;
    color:white;
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.875rem;
    margin-top: 75px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
}




@media (max-width: 1100px) {
    .DEUXPARTIES {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 800px){
    .banniere {
    
        display:flex;
        flex-direction: column;
        background-color: #38D2D9;
        height: 400px;
    
    }

    .BUTROIS {
        display: flex;
        justify-content:center;
        align-items: center;
        
        
    }
}

@media (max-width: 1015px){
    .banniere {
    
        display:flex;
        flex-direction: column;
        background-color: #38D2D9;
        height: 300px; }

    .BUTROIS {
        display: flex;
        justify-content:center;
        align-items: center;
                 
        }
        
    
     }


@media (max-width: 530px){
    .banniere {
    
        display:flex;
        flex-direction: column;
        background-color: #38D2D9;
        height: 320px;
    
    } }

@media (max-width: 1205px){
    .Getto {
    
        
        display:flex;
        flex-direction: column;
        margin-right: 8rem;
        margin-left:  8rem;
        justify-content: center;
        
       
    
    }

}

@media (max-width: 1150px){
    .Getto {
    
        
        display:flex;
        flex-direction: column;
        margin-right: 6rem;
        margin-left:  6rem;
        justify-content: center;
        
       
    
    }

}

@media (max-width: 1080px){
    .Getto {
    
        
        display:flex;
        flex-direction: column;
        margin-right: 4rem;
        margin-left:  4rem;
        justify-content: center;
        
       
    
    }

}

@media (max-width: 800px){
    .BREND {
        display: flex;
        flex-direction: column;

    }

    .Pepe {
        text-align: center;
    }
}