* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav {
background: #ffffff;
display: flex;
/* position: relative;
z-index: 0; */
justify-content: space-between;
align-items: center;
padding: 25px;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 4vh;
    font-family:'Montserrat', sans-serif;
    margin-left: 10%;
}

.link a {
    margin: 0;
    color: white;
    padding: 5px;
    font-size: 3vh;
    position: relative;
    top: 1%;
}

.menu {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
}

.menu span {
    background: rgb(0, 0, 0);
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    
}

.link {
    display: flex;
    align-items: center;
    width: 25%;
    height: 500vh;
    position: absolute;
    flex-direction: column;
    background: #3d3f44;
    top: 0px;
    left: -600px;
    padding: 10px;
    z-index: 1;
    transition: 1s;
}

.open {
    left: 0px;
    top: 0px;
}

.first {
   background-image: url("./img/Image_site_responsive1.jpg");
   background-size: cover;
   width: 100%;
   height: 700px;

}
.titre-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 40%;
    margin-left: 10%;
}

.titre-first {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 15%;
}

.sous-titre-first {
    font-size: 1.25rem;
    font-style: italic;
    margin: 27px 41px 0 0;

}

.learn-btn {
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 200px;
    height: 10%;
    font-size: 1.5rem;
    margin: 27px auto 0 0;
    padding: 15px 39px 16px 38px;
}

}

